*{
  border: dashed 1px black;
}
h2{
  font-family: 'Freckle Face', serif;;
  font-size: 30px;
}
p{
  font-family: 'Freckle Face', serif;
}
.button{
    font-family: Freckle+Face;
    width:300px;
    height: 80px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
}
.glyphicon{
    font-size: 60px;
}
.game{
  border: solid 5px yellow;
}
.lane1{
  border: solid 5px purple;
}
.lane2{
  border: solid 5px green;
}
.lane{
  background-image: url("imgs/swimmingPool.gif");
}
.content-card col-md-12{
  height: 800px;
}

body{
  /*background-image: url("imgs/splashBackground.jpg");;*/
}

#pool{
  position: relative;
}

#swimmingPool{
  width:800px;
  height: 256px;
}

#swimmer1{
  height:100px;
  width:100px;
  top:0;
  left:0;
}

#swimmer2{
  height:100px;
  width:100px;
  top:0;
  left:0;
}
