*{
  border: dashed 1px black;
}
.button{
    width:300px;
    height: 80px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
}
.game{
  border: solid 5px yellow;
}
.lane1{
  border: solid 5px purple;
}
.lane2{
  border: solid 5px green;
}
.lane{
  background-image: url("imgs/swimmingPool.gif");
}

body{
  /*background-image: url("imgs/splashBackground.jpg");;*/
}

#pool{
  position: relative;
}

#swimmingPool{
  width:800px;
  height: 256px;
}

#swimmer1{
  height:100px;
  width:100px;
  top:0;
  left:0;
}

#swimmer2{
  height:100px;
  width:100px;
  top:0;
  left:0;
}
