*{
  border: dashed 2px black;
}
body{
  font-family: 'Bungee', cursive;
}
h2{
  font-size: 25px;
}
h3{
  color: purple;
}
img{
  width: 80px;
  height: 80px;
}

.step{
}
.instructions{
  text-align: center;
}

.btn{
  font-family: 'Bungee', cursive;
}
.button{
    font-family: 'Bungee', cursive;
    width:300px;
    height: 80px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
}
.glyphicon{
    font-size: 30px;
}
.game{
  /*border: solid 5px yellow;*/
}
.lane1{
  /*border: solid 5px purple;*/
}
.lane2{
  /*border: solid 5px green;*/
}
.lane{
  background-image: url("imgs/another-pool.jpg");
}
.top-row{

}
.col md-1{
}


#placar{
  background-image: url("imgs/grey-bricks.jpeg");
  padding: 20px;
}


#pool{
  padding: 20px;
  background-image: url("imgs/swimmingPool.gif");

}

#swimming-pool{
  width:800px;
  height: 256px;
}

#swimmer1{
  height:60px;
  width:60px;
  top:0;
  left:0;
}

#swimmer2{
  height:20px;
  width: 20px;
  top:0;
  left:0;
}
#top-row{
  /*background-image: url("imgs/background-pool.png");*/
  padding: 20px;
}
